{% extends 'base.html' %}
{% block title %}Сверка чеков{% endblock %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-md-3"><label for="startDate">Начало периода</label></div>
<div class="col-md-3"><label for="finishDate">Конец периода</label></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-3">      
    <input id="startDate" class="form-control" type="date" /> 
</div>
<div class="col-md-3">   
    <input id="finishDate" class="form-control" type="date" />    
</div>
<div class="col-md-3">
    <button type="submit" class="btn btn-success">Показать</button>
</div>
<div class="col-md-3"></div>
<div class="row"><br></div>
<div class="col-md-3">
    <div class="card text-bg-success">
        <div class="card-header">
        ООО "АРТЭС"
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Сумма ОФД = 136 209,55 руб.
        </li>
        <li class="list-group-item">Сумма 1С = 139 200,01 руб.</li>
        </ul>
    </div>

</div>

</div>
</div>

{% endblock %}

